<div class="modal-overlay" *ngIf="show" (click)="cancel()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h4 class="modal-title">Criar projeto</h4>
    <hr />

    <label class="fs-6 fw-semibold modal-label2">Nome</label>
    <input
      type="text"
      class="form-control mt-1 mb-3"
      [(ngModel)]="projectName"
      placeholder="Nome do projeto"
    />

    <label class="fs-6 fw-semibold modal-label">Descrição</label>
    <textarea
      class="form-control mt-1 mb-3"
      [(ngModel)]="projectDescription"
      placeholder="Descrição do projeto"
    ></textarea>

    <button class="btn btn-secondary mb-3" (click)="openAddUserModal()">
      Adicionar colaboradores
    </button>

    <app-add-user-modal
      [roles]="roles"
      [show]="showAddModal"
      (close)="cancelAdd()"
      (addUser)="handleAddUser($event)"
    ></app-add-user-modal>

    <label class="fs-6 fw-semibold modal-label2">Equipe</label>
    <div class="collaborators-container">
      <table
        class="table table-zebra w-full table-auto"
        *ngIf="users.length > 0; else emptyState"
      >
        <thead>
          <tr>
            <th class="w-1/12">ID</th>
            <th class="w-5/12">Nome</th>
            <th class="w-4/12">Função</th>
            <th class="w-2/12 text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.role | roleTranslate }}</td>
            <td class="text-center">
              <button class="btn btn-sm btn-danger" (click)="removeUser(user.id)">
                Remover
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <ng-template #emptyState>
        <div class="empty-state">Nenhum colaborador adicionado.</div>
      </ng-template>
    </div>

    <div class="modal-actions">
      <button class="btn btn-outline" (click)="cancel()">Cancelar</button>
      <button class="btn btn-success" (click)="createProject()">Criar projeto</button>
    </div>
  </div>
</div>