<div class="card shadow-sm p-3 d-flex flex-row align-items-start">

  <img [src]="avatarUrl" class="rounded-circle me-2" style="width: 35px; height: 35px; object-fit: cover;"
    alt="avatar" />

  <div class="flex-grow-1">
    <h5 class="fs-5 fw-medium mb-0">{{ activity.userName }}
      <span class="fs-6 align-top"><span class="badge rounded-pill ms-1" [ngClass]="getRoleBadgeClass()">{{ activity.userRole | roleTranslate }}</span></span>
    </h5>
    

    <div class="mt-2 mb-1" [innerHTML]="description"></div>


  </div>
  <small class="text-muted text-end">
    {{ activity.timestamp | date:'HH:mm dd/MM/yy' }}
  </small>
</div>