<div class="card shadow-sm p-3 d-flex flex-row align-items-start">

  <img [src]="avatarUrl" class="rounded-circle me-2" style="width: 35px; height: 35px; object-fit: cover;"
    alt="avatar" />

  <div class="flex-grow-1">
    <h5 class="fs-5 fw-medium mb-0">{{ activity.userName }}
      <span class="fs-6 align-top"><span class="badge rounded-pill ms-1" [ngClass]="getRoleBadgeClass()">{{
          activity.userRole | roleTranslate }}</span></span>
    </h5>

    <div class="d-flex align-items-start gap-2">

      <!-- preview de foto -->
      <div *ngIf="shouldShowPhotoPreview" class="photo-preview mt-2">
        <img [src]="photoPreviewUrl" alt="foto enviada" class="img-thumbnail" style="max-width: 75px;">
      </div>

      <!-- preview de documento -->
      <div *ngIf="shouldShowDocumentPreview" class="doc-preview mt-2">
        <img [src]="documentPreviewUrl" alt="documento" class="img-thumbnail" style="max-width: 50px;">
      </div>

      <!-- Preview de parcela -->
      <div *ngIf="shouldShowInstallmentPreview" class="installment-preview mt-2">
        <img [src]="installmentPreviewUrl" alt="parcela" class="img-thumbnail" style="max-width: 50px;">
      </div>

      <!-- Preview de fase -->
      <div *ngIf="shouldShowPhasePreview" class="phase-preview">
        <img [src]="phasePreviewUrl" alt="etapa" class="img-thumbnail" style="max-width: 50px;">
      </div>

      <!-- Icon comentário-->
      <div *ngIf="shouldShowCommentPreview" class="photo-preview mt-2">
        <img [src]="commentPreviewUrl" class="img-thumbnail" style="max-width: 50px;">
      </div>

      <!-- foto do usuario -->
      <div *ngIf="shouldShowUserPreview" class="photo-preview mt-2">
        <img [src]="userPreviewUrl" class="img-thumbnail" style="max-width: 50px;">
      </div>

      <!-- conteúdo -->
      <div class="mt-2 mb-1" [innerHTML]="description"></div>
    </div>



  </div>
  <small class="text-muted text-end">
    {{ activity.timestamp | date:'HH:mm dd/MM/yy' }}
  </small>
</div>