<app-page-layout [title]="'Visualização: ' + documentName" [showSidebar]="false" [showBackButton]="true">
<div class="container mt-4">

    <!-- Preview de documento -->

    <div class="mb-4 p-3 bg-white rounded">

      <iframe *ngIf="fileType && fileType === 'application/pdf'" [src]="documentBlobUrl" width="100%"
        height="600px"></iframe>

      <img *ngIf="fileType && fileType.startsWith('image/')" [src]="documentBlobUrl" class="img-fluid rounded" />

      <div *ngIf="!fileType || (!fileType.startsWith('image/') && fileType !== 'application/pdf')">
        Documento não disponível para visualização.
      </div>
    </div>

    <!-- Seção de comentários -->
    <div class="p-3 bg-light rounded mb-5">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <h5>Comentários</h5>
        <button class="btn btn-sm btn-success" (click)="addComment()"
          [disabled]="!newCommentText.trim()">Adicionar</button>
      </div>

      <textarea class="form-control mb-3" [(ngModel)]="newCommentText"
        placeholder="Escreva um comentário..."></textarea>

      <div *ngFor="let comment of comments"
        class="bg-white p-3 rounded mb-2 d-flex justify-content-between align-items-start">
        <div>
          <strong>{{ getUserName(comment.userId) }}</strong>
          <p class="mb-0">{{ comment.text }}</p>
          <small class="text-muted">{{ comment.timestamp | date:'dd/MM/yyyy HH:mm' }}</small>
        </div>

        <button *ngIf="canDeleteComment(comment.userId)" class="btn btn-sm btn-light ms-2"
          (click)="deleteComment(comment.id)" title="Excluir comentário">
          <img src="assets/img/icons/trash3.svg" width="18" height="18" alt="Excluir">
        </button>
      </div>
    </div>
  </div>
</app-page-layout>