<div class="card h-100 bg-transparent rounded-3"
  [ngClass]="{ 'border-2': variant === 'compact', 'border-3': variant === 'detailed' }"
  [style.border-color]="project.buttonStyle === 'secondary' ? '#6c757d' : (project.borderColor || '#78A58B')">

  <img [src]="project.imageUrl" class="card-img-top" [alt]="project.title">

  <!-- Versão compacta -->
   <!-- TODO: Responsividade na versão compacta - futuro fix -->
  <ng-container *ngIf="variant === 'compact'">
    <div class="card-body p-2">
      <a (click)="goToProjects()" class="btn p-0 stretched-link">
        <h6 class="card-title mb-0">{{ project.title }}</h6>
      </a>
    </div>
  </ng-container>

  <!-- Versão detalhada -->
  <ng-container *ngIf="variant === 'detailed'">
    <div class="card-body">
      <h5 class="card-title">{{ project.title }}</h5>
      <p class="card-text">{{ project.description }}</p>
    </div>
    <div class="card-footer d-grid bg-transparent border-0 text-center mb-2">
      <a (click)="goToProjects()" class="btn" [ngClass]="'btn-' + (project.buttonStyle || 'success')">
        Abrir Projeto
      </a>
    </div>
  </ng-container>

</div>