<div class="modal-overlay" *ngIf="show">
  <div class="modal fade show d-block" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-4 font-logo">Criar Novo Projeto</h1>
          <button type="button" class="btn-close" (click)="close.emit()"></button>
        </div>

        <div class="modal-body pb-3">
          <div class="container-fluid">
            <h5 class="mb-3">Templates de Projeto:</h5>

            <div class="row g-3 justify-content-center">

              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card template-card h-100 text-center border-3">
                  <div class="card-body d-flex align-items-center justify-content-center">
                    <h6 class="card-title mb-0">+ Novo Projeto</h6>
                  </div>
                  <div class="card-footer bg-transparent border-0 d-grid">
                    <button class="btn btn-secondary stretched-link" (click)="openNewTemplate()">
                      Criar
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let template of projectTemplates">
                <div class="card template-card h-100 text-center border-3 bc-archspot-samambaia">
                  <div class="card-body d-flex align-items-center justify-content-center">
                    <h6 class="card-title mb-0">{{ template.name }}</h6>
                  </div>
                  <div class="card-footer bg-transparent border-0 d-grid">
                    <button class="btn btn-success stretched-link" (click)="selectTemplate(template)">
                      Criar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-new-project-template-modal [show]="showNewTemplateModal" [editing]="editing" [projectPhases]="projectPhases"
  [returnToProjectConfirm]="returnToProjectConfirm" (goBack)="handleGoBack()" (close)="handleGoBack()"
  (goBackToSelect)="onNewTemplateSaved($event)" (projectCreated)="projectCreated.emit()">
</app-new-project-template-modal>

<app-confirm-create-new-project-modal [show]="showConfirmCreateProjectModal" [templatePhases]="selectedTemplatePhases"
  [templateId]="selectedTemplate?.id" [templateName]="selectedTemplate?.name || ''" (goBack)="handleGoBack()"
  (editPhases)="editPhases($event)" (created)="onProjectCreated()" (close)="handleGoBack()">
</app-confirm-create-new-project-modal>