<div class="bg-white rounded-2 p-4 mb-3" (click)="goToSchedule()">
  <div class="fs-4 fw-medium mb-2">Cronograma</div>
  <hr>

  <div class="timeline-container" *ngIf="phases.length > 0">
    <div class="timeline-line"></div>
    <div class="timeline-progress" [style.width.px]="progressWidthPx"></div>

    <div class="timeline-item" *ngFor="let phase of phases; let i = index">
      <div class="timeline-label-top">
        <div class="timeline-dot" [ngClass]="{
             'completed': i <= lastCompletedIndex,
             'in-progress': phase.status === 'IN_PROGRESS',
             'not-started': phase.status === 'NOT_STARTED'
           }">
        </div>
        <span class="phase-name">{{ phase.name }}</span><br>
        <span class="phase-date">{{ phase.estimatedStartDate | date:'dd/MM' }}</span>
      </div>
    </div>
  </div>


  <div *ngIf="phases.length === 0" class="text-muted">
    Nenhuma fase encontrada para este projeto.
  </div>
</div>