<div class="modal-overlay" *ngIf="show" (click)="cancel()">
  <div class="modal-content change-password-modal" (click)="$event.stopPropagation()">

    <div class="modal-header">
      <h4 class="modal-title">Trocar Senha</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="cancel()"></button>
    </div>

    <hr />

    <div class="modal-body">
      <div class="mb-3">
        <label class="fs-6 fw-semibold modal-label2">Senha atual</label>
        <input type="password" class="form-control mt-1" placeholder="Senha atual" [(ngModel)]="currentPassword" />
      </div>

      <div class="mb-3">
        <label class="fs-6 fw-semibold modal-label2">Nova senha</label>
        <input type="password" class="form-control mt-1" placeholder="Nova senha" [(ngModel)]="newPassword" />
      </div>

      <div class="mb-3">
        <label class="fs-6 fw-semibold modal-label2">Confirme a nova senha</label>
        <input type="password" class="form-control mt-1" placeholder="Confirmação da senha"
          [(ngModel)]="confirmPassword" />
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger mt-2">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="alert alert-success mt-2">{{ successMessage }}</div>
    </div>

    <div class="modal-footer d-flex justify-content-end gap-3 mt-4">
      <button class="btn btn-outline-secondary px-4" (click)="cancel()">Cancelar</button>
      <button class="btn btn-success px-4" (click)="changePassword()" [disabled]="loading">
        {{ loading ? 'Processando...' : 'Trocar senha' }}
      </button>
    </div>

  </div>
</div>