<!-- MODAL DE CRIAR NOVO PROJETO / EDITAR TEMPLATE -->
<div class="modal fade show" tabindex="-1" role="dialog" *ngIf="show || showConfirmCreateProjectModal"
  style="display:block; background-color: rgba(0,0,0,0.5);">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-4 font-logo">
          {{ editing ? 'Editar Etapas do Projeto' : 'Criar Novo Projeto' }}
        </h1>
        <button type="button" class="btn-close" (click)="close.emit()"></button>
      </div>

      <div class="modal-body">
        <div class="row g-3">

          <div class="col-sm-6">
            <h5>Outras etapas:</h5>
            <div class="d-grid gap-1">
              <button *ngFor="let phase of otherPhases" type="button"
                class="btn btn-outline-secondary shadow text-start mb-2" (click)="addPhaseToProject(phase)">
                {{ phase.name }}
              </button>
            </div>
          </div>

          <div class="col-sm-6">
            <h5>Etapas no projeto:</h5>
            <div class="d-grid gap-1">
              <button *ngFor="let phase of projectPhases" type="button"
                class="btn mb-2 btn-outline-success shadow text-start" (click)="removePhaseFromProject(phase)">
                {{ phase.name }}
              </button>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col d-grid">
            <button type="button" class="btn btn-outline-secondary" (click)="openNewPhaseModal()">
              + Criar Nova Etapa
            </button>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button *ngIf="returnToProjectConfirm" type="button" class="btn btn-secondary" (click)="goBackModal()">
          Voltar
        </button>

        <button *ngIf="!editing" type="button" class="btn btn-success" (click)="openConfirmCreateProject()">
          Criar Projeto
        </button>

        <button *ngIf="editing" type="button" class="btn btn-success" (click)="saveTemplate()">
          Salvar alterações
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAIS INTERNAS -->
<app-new-phase-template-modal [show]="showNewPhaseModal" (close)="onCloseNewPhaseModal()"
  (save)="onSaveNewPhase($event)">
</app-new-phase-template-modal>

<app-confirm-create-new-project-modal [show]="showConfirmCreateProjectModal" [templatePhases]="templatePhasesForConfirm"
  (close)="onCancelConfirm()" (created)="onProjectCreated()" (goBack)="showConfirmCreateProjectModal = true"
  (editPhases)="editPhasesForProject()">
</app-confirm-create-new-project-modal>

<app-confirm-create-new-template-modal [show]="showConfirmCreateTemplateModal" [selectedPhases]="projectPhases"
  (close)="onCancelConfirmTemplate()" (saved)="onTemplateSaved($event)">
</app-confirm-create-new-template-modal>