<h5>{{ title }}</h5>
<table class="table table-hover mt-4 align-middle">
    <thead class="table-light">
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Proprietário</th>
            <th>Última modif.</th>
            <th>Tamanho</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let doc of documents; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
                <span class="document-name" [attr.data-title]="doc.description || 'Sem descrição'"
                    (click)="abrirDoc(doc)">
                    {{ getDisplayName(doc.name) }}
                </span>
            </td>

            <td>{{ getUploaderName(doc.uploadedById) }}</td>
            <td>{{ doc.modificationDate | date:'dd-MM-yyyy HH:mm' }}</td>
            <td>{{ (doc.size / (1024*1024)) | number:'1.2-2' }} MB</td>

            <!-- dropdown editar arquivo -->
            <td>
                <div class="dropdown">
                    <img src="assets/img/icons/three-dots.svg" class="rounded-circle dropdown-toggle" role="button"
                        id="dropdownMenuButton{{i}}" data-bs-toggle="dropdown" aria-expanded="false" width="20"
                        height="20">

                    <ul class="dropdown-menu align-middle me-2">
                        <li>
                            <a class="dropdown-item" (click)="abrirDoc(doc)">
                                <img src="assets/img/icons/envelope-open.svg" width="15" height="15">
                                Abrir
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="downloadDoc(doc)">
                                <img src="assets/img/icons/download.svg" width="15" height="15">
                                Baixar uma cópia
                            </a>
                        </li>
                        <li *ngIf="!isCustomerInProject">
                            <a class="dropdown-item" (click)="substituirDoc(doc)">
                                <img src="assets/img/icons/upload.svg" width="15" height="15">
                                Substituir nova versão
                            </a>
                        </li>
                        <li *ngIf="!isCustomerInProject">
                            <a class="dropdown-item" (click)="renomearDoc(doc)">
                                <img src="assets/img/icons/pencil.svg" width="15" height="15">
                                Renomear
                            </a>
                        </li>
                        <li *ngIf="!isCustomerInProject">
                            <a class="dropdown-item" (click)="deletarDoc(doc)">
                                <img src="assets/img/icons/trash3.svg" width="15" height="15">
                                Deletar
                            </a>
                        </li>
                    </ul>
                </div>
            </td>

        </tr>
    </tbody>
</table>