<div *ngIf="shouldShowUploadButton()" class="mt-2 d-flex justify-content-end">
  <button class="btn btn-sm btn-light d-flex align-items-center" (click)="uploadFile()">
    <img src="assets/img/icons/upload.svg" width="16" height="16" class="me-1">
    <span>Fazer Upload</span>
  </button>
</div>

<h5>{{ title }}</h5>

<table class="table table-hover align-middle">
  <thead class="table-light">
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Proprietário</th>
      <th>Última modif.</th>
      <th>Tamanho</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let doc of documents; let i = index">
      <td>{{ i + 1 }}</td>

      <td>
        <span class="document-name" [attr.data-title]="doc.description || 'Sem descrição'" (click)="abrirDoc(doc)">
          {{ getDisplayName(doc.name) }}
        </span>
      </td>

      <td>{{ getUploaderName(doc.uploadedById) }}</td>
      <td>{{ doc.modificationDate | date :'dd-MM-yyyy HH:mm' }}</td>
      <td>{{ (doc.size / (1024*1024)) | number:'1.2-2' }} MB</td>

      <td>
        <div class="dropdown">
          <img src="assets/img/icons/three-dots.svg" class="rounded-circle dropdown-toggle"
            id="dropdownMenuButton{{ i }}" data-bs-toggle="dropdown" width="20" height="20" />

          <ul class="dropdown-menu">

            <li>
              <a class="dropdown-item" (click)="abrirVersionamento(doc)">Últimas versões</a>
            </li>

            <li>
              <a class="dropdown-item" (click)="abrirDoc(doc)">
                <img src="assets/img/icons/envelope-open.svg" width="15" height="15" />
                Abrir
              </a>
            </li>

            <li>
              <a class="dropdown-item" (click)="downloadDoc(doc)">
                <img src="assets/img/icons/download.svg" width="15" height="15" />
                Baixar uma cópia
              </a>
            </li>

            <li *ngIf="canEdit(doc)">
              <a class="dropdown-item" (click)="substituirDoc(doc)">
                <img src="assets/img/icons/upload.svg" width="15" height="15" />
                Substituir nova versão
              </a>
            </li>

            <li *ngIf="canEdit(doc)">
              <a class="dropdown-item" (click)="renomearDoc(doc)">
                <img src="assets/img/icons/pencil.svg" width="15" height="15" />
                Renomear
              </a>
            </li>

            <li *ngIf="canDelete(doc)">
              <a class="dropdown-item" (click)="deletarDoc(doc)">
                <img src="assets/img/icons/trash3.svg" width="15" height="15" />
                Deletar
              </a>
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<app-doc-versioning-modal [documentId]="selectedDocumentId" [documentName]="selectedDocumentName"
  [visible]="showVersioningModal" (close)="cancelModal()">
</app-doc-versioning-modal>