<nav class="bg-white rounded-2 p-4">
  <ul class="list-unstyled">

    <!-- Nenhum projeto ativo: lista geral -->
    <li *ngIf="!activeProject" class="mb-3">
      <a (click)="goToProjects()" role="button"
        class="d-flex align-items-center link-dark link-opacity-50-hover link-underline-opacity-0 fs-5">
        <img src="assets/img/icons/houses.svg" alt="" class="me-2 mb-1" width="20" height="20">
        Projetos
      </a>
    </li>

    <!-- menu do projeto -->
    <ng-container *ngIf="activeProject">
      <li class="fw-semibold text-secondary mb-2">{{ activeProject.name }}</li>

      <li *ngFor="let item of projectMenuItems" class="mb-3">
        <a (click)="goToProjectSubItem(item.key)" role="button"
          class="d-flex align-items-center link-dark link-opacity-50-hover link-underline-opacity-0 fs-5">
          <img [src]="item.icon" alt="" class="me-2 mb-1" width="20" height="20">
          {{ item.label }}
        </a>

        <hr *ngIf="item.key === 'albuns'">
      </li>
    </ng-container>

    <!-- Itens gerais quando não há projeto ativo -->
    <ng-container *ngIf="!activeProject">
      <hr>
      <li *ngFor="let item of generalMenuItems" class="mb-3">
        <a (click)="item.action()" role="button"
          class="d-flex align-items-center link-dark link-opacity-50-hover link-underline-opacity-0 fs-5">
          <img [src]="item.icon" alt="" class="me-2 mb-1" width="20" height="20">
          {{ item.label }}
        </a>
      </li>
    </ng-container>

    <!-- perfil -->
    <hr>
    <li *ngFor="let item of profileMenuItems" class="mb-3">
      <a (click)="item.action()" role="button"
        class="d-flex align-items-center link-dark link-opacity-50-hover link-underline-opacity-0 fs-5">
        <img [src]="item.icon" alt="" class="me-2 mb-1" width="20" height="20">
        {{ item.label }}
      </a>
    </li>

    <!-- Ajuda e Sair -->
    <hr>
    <li *ngFor="let item of helpMenuItems" class="mb-3">
      <a (click)="item.action()" role="button"
        class="d-flex align-items-center link-dark link-opacity-50-hover link-underline-opacity-0 fs-5">
        <img [src]="item.icon" alt="" class="me-2 mb-1" width="20" height="20">
        {{ item.label }}
      </a>
    </li>
  </ul>
</nav>