<app-page-layout [title]="project?.name || 'Carregando projeto...'" [showBackButton]="true" [showStatusBar]="true"
  [projectId]="project?.id">

  <div *ngIf="loading" class="text-center py-5 text-muted">
    <div class="spinner-border" role="status"></div>
    <p class="mt-2">Carregando informações do projeto...</p>
  </div>

  <div *ngIf="!loading && errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <div *ngIf="!loading && project">

    <!-- informações do projeto -->
    <div class="card bg-light border-0 shadow-sm mb-4">
      <div class="card-body">
        <h5 class="card-title mb-2">{{ project.name }}</h5>
        <p class="card-text text-muted">{{ project.description }}</p>
        <div class="row small">
          <div class="col-md-4">
            <strong>Início estimado:</strong> {{ project.estimatedStartDate | date:'dd-MM-yyyy' }}
          </div>
          <div class="col-md-4">
            <strong>Fim estimado:</strong> {{ project.estimatedEndDate | date:'dd-MM-yyyy' }}
          </div>
          <div class="col-md-4">
            <strong>Status:</strong> {{ project.status | statusTranslate }}
          </div>
        </div>
      </div>
    </div>

    <!-- possivel seção de atualizações do projeto -->
    <div class="row mb-4">
      <div class="fs-4 fw-medium">Atualizações</div>
      <hr class="mt-2 mb-4">
    </div>

  </div>

</app-page-layout>