<app-page-layout [title]="'Projeto Exemplo'" [showBackButton]="true" [showStatusBar]="true">


  <!--POSTAGENS-->


    <div class="row">
      <div class="fs-4 fw-medium">Atualizações</div>
      <hr>
    </div>

    <!--POST-->
    <div class="row">
      <!--FOTO THUMB-->
      <div class="col-auto pe-0">
        <a href="">
          <img src="/assets/img/personas/fernando.jpeg" class="rounded-circle" alt="" width="40" height="40">
        </a>
      </div>

      <div class="col">
        <div class="row">
          <!--NOME-->
          <div class="col">
            <h5 class="fs-5 fw-medium mb-0">Fernando</h5>
            <div class="fs-6">Arquiteto</div>
          </div>
          <div class="col-auto">
            <small>10h:20</small>
          </div>
        </div>

        <div class="row">
          <!--CONTEUDO-->
          <div class="col-3">
            <div class="card bg-transparent" style="border-color: #78A58B;">
              <img src="/assets/img/plano1.jpg" class="card-img-top" alt="...">
              <div class="card-body p-2">
                <h6 class="card-title mb-0">Projeto 01</h6>
              </div>
            </div>
          </div>
          <div class="col">
            <h4>Anteprojeto</h4>
            <p>Versão 2 do estudo: Corrigido aberturas, ampliação da cozinha.</p>
          </div>
        </div>
      </div>

    </div>
    <hr>

    <!--POST-->
    <div class="row">
      <!--FOTO THUMB-->
      <div class="col-auto pe-0">
        <a href="">
          <img src="/assets/img/personas/beatiz.jpeg" class="rounded-circle" alt="" width="40" height="40">
        </a>
      </div>

      <div class="col">

        <div class="row">
          <!--NOME-->
          <div class="col">
            <h5 class="fs-5 fw-medium mb-0">Beatriz</h5>
            <div class="fs-6">Cliente</div>
          </div>
          <div class="col-auto">
            <small>20 de nov.</small>
          </div>
        </div>

        <div class="row">
          <!--CONTEUDO-->
          <div class="col-3">
            <div class="row row-cols-2 g-1">
              <img src="/assets/img/terreno/terreno1.jpeg" class="col img-thumbnail image-square object-fit-cover rounded"
                alt="...">
              <img src="/assets/img/terreno/terreno2.jpeg" class="col img-thumbnail image-square object-fit-cover rounded"
                alt="...">
              <img src="/assets/img/terreno/terreno3.jpeg" class="col img-thumbnail image-square object-fit-cover rounded"
                alt="...">
              <img src="/assets/img/terreno/terreno4.jpeg" class="col img-thumbnail image-square object-fit-cover rounded"
                alt="...">
            </div>
          </div>
          <div class="col">
            <h4>Upload de Fotos</h4>
            <p>Fotos do terreno.</p>
          </div>
        </div>
      </div>

    </div>
    <hr>

    <!--POST-->
    <div class="row">
      <!--FOTO THUMB-->
      <div class="col-auto pe-0">
        <a href="">
          <img src="/assets/img/personas/helio.jpeg" class="image-square rounded-circle" alt="" width="40" height="40">
        </a>
      </div>

      <div class="col">
        <div class="row">
          <!--NOME-->
          <div class="col">
            <h5 class="fs-5 fw-medium mb-0">Hélio</h5>
            <div class="fs-6">Projetista Estrutural</div>
          </div>
          <div class="col-auto">
            <small>5 de set.</small>
          </div>
        </div>

        <div class="row">
          <!--CONTEUDO-->
          <div class="col-3">
            <div class="card bg-transparent" style="border-color: #78A58B;">
              <img src="/assets/img/plano1.jpg" class="card-img-top" alt="...">
              <div class="card-body p-2">
                <h6 class="card-title mb-0">Projeto 01</h6>
              </div>
            </div>
          </div>
          <div class="col">
            <h4>Projeto Estrutural</h4>
            <p>Projeto estrtutural compatibilizado conforme reunião do dia 5.</p>
          </div>
        </div>
      </div>

    </div>
    <hr>

    <!--POST-->
    <div class="row">
      <!--FOTO THUMB-->
      <div class="col-auto pe-0">
        <a href="">
          <img src="/assets/img/personas/ana.jpeg" class="image-square rounded-circle" alt="" width="40" height="40">
        </a>
      </div>

      <div class="col">
        <div class="row">
          <!--NOME-->
          <div class="col">
            <h5 class="fs-5 fw-medium mb-0">Ana</h5>
            <div class="fs-6">Gestora de Projetos</div>
          </div>
          <div class="col-auto">
            <small>5 de jun.</small>
          </div>
        </div>

        <div class="row">
          <!--CONTEUDO-->
          <div class="col">
            <h4>Reunião de alinhamento</h4>
            <p>Tópicos definidos na reunião:</p>
            <ul>
              <li>Corrigir aberturas das janelas</li>
              <li>Ampliar bancada da cozinha</li>
              <li>Substituir portas de correr por portas de abrir nos armários do closet</li>
              <li>Consultar engenharia para atualizar estrutural.</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <hr>

    <!--POST-->
    <div class="row">
      <!--FOTO THUMB-->
      <div class="col-auto pe-0">
        <a href="">
          <img src="/assets/img/icons/coin.svg" class="image-square rounded-circle" alt="" width="40" height="40">
        </a>
      </div>

      <div class="col">
        <div class="row">
          <!--NOME-->
          <div class="col">

          </div>
          <div class="col-auto">
            <small>25/12/2023</small>
          </div>
        </div>

        <div class="row">
          <!--CONTEUDO-->
          <div class="col">
            <h4>Movimentação Financeira</h4>
            <div>
              <div><strong>Parcela 2:</strong> Pagamento 2/6</div>
              <div><strong>Valor:</strong> R$ 1.500,00</div>
              <div><strong>Descrição:</strong> Fechamento de contrato</div>
              <div><strong>Pago em:</strong> 25/12/2023</div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <hr>

</app-page-layout>