<div class="modal-overlay" *ngIf="show" (click)="cancel()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h4 class="modal-title">Editar Parcela</h4>
    <hr />

    <div class="mb-3">
      <label class="form-label">Valor</label>
      <input type="text" class="form-control" [value]="displayAmount" (input)="onAmountInput($event)" />
      <input type="text" placeholder="Valor da parcela" [(ngModel)]="cloned.amount" class="form-control" (input)="onAmountChange($event)" />
    </div>

    <div class="mb-3">
      <label class="form-label">Descrição</label>
      <textarea class="form-control" rows="2" [(ngModel)]="cloned.description"></textarea>
    </div>

    <div class="mb-3">
      <label class="form-label">Método de pagamento</label>
      <select class="form-select" [(ngModel)]="cloned.paymentMethod">
        <option [ngValue]="null" disabled>Selecione um método</option>
        <option *ngFor="let method of paymentMethods" [ngValue]="method">
          {{ method | paymentMethod }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label class="form-label">Status</label>
      <select class="form-select" [(ngModel)]="cloned.paymentStatus">
        <option *ngFor="let status of paymentStatuses" [ngValue]="status">
          {{ status | paymentStatus }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label class="form-label">Previsão de Pagamento</label>
      <input type="date" class="form-control" [(ngModel)]="cloned.estimatedPaymentDate" />
    </div>

    <div class="mb-3" *ngIf="cloned.paymentStatus === 'PAID'">
      <label class="form-label">Data do pagamento (real)</label>
      <input type="date" class="form-control" [(ngModel)]="cloned.realPaymentDate" />
    </div>

    <div class="d-flex justify-content-end gap-2">
      <button class="btn btn-outline-secondary" (click)="cancel()">Fechar</button>
      <button class="btn btn-success" (click)="updateInstallment()">Salvar</button>
    </div>
  </div>
</div>