<app-page-layout [title]="'Eventos'" [showSidebar]="false" [showBackButton]="true">

  <!--titulo-->
  <div class="row d-flex ">
    <div class="col fs-4 fw-medium">Calendário</div>
    <div class="col-auto fs-5 mt-1 px-0">
      Criar novo evento
    </div>
    <div class="col-auto mb-2">
      <a class="btn">
        <img src="/assets/img/icons/plus-circle.svg" alt="" width="25" height="25" (click)="openNovoEventoModal()">
      </a>
    </div>
    <hr>
  </div>

  <div class="col border rounded shadow-sm p-4">
    <app-calendar></app-calendar>
  </div>

</app-page-layout>